@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Webfont: Humane-Regular */
@font-face {
  font-family: 'MangoGrotesque';
  src: url('./src/Font/Humane-Regular.eot');
  /* IE9 Compat Modes */
  src: url('./src/Font/Humane-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./src/Font/Humane-Regular.woff') format('woff'),
    /* Modern Browsers */ url('./src/Font/Humane-Regular.woff2') format('woff2'),
    /* Modern Browsers */ url('./src/Font/Humane-Regular.ttf')
      format('truetype');
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

.row-1 {
  background-image: url('./src/assets/banner.jpg');
  font-family: "Poppins", serif;
  position: relative;
  overflow: hidden;
}

.row-1::before {
  content: "Zara\A Jacket";
  white-space: pre;
  position: absolute;
  line-height: 1.0;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(237,232,208, 0.9);
  color: #B22222;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.row-1:hover::before {
  opacity: 1;
}

.row-2 {
  background-image: url('./src/assets/banner3.jpg');
  font-family: "Poppins", serif;
  position: relative;
  overflow: hidden;
}

.row-2::before {
  content: "Zara\A Jacket";
  white-space: pre;
  position: absolute;
  line-height: 1.0;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(237,232,208, 0.9);
  color: #B22222;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.row-2:hover::before {
  opacity: 1;
}
